fastapi==0.111.0
pydantic==2.7.4
uvicorn==0.30.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.1+cpu
torchvision==0.18.1+cpu
easyocr==1.7.1